h1{
    background-color: pink;
}
.todo{
    background-color: aqua;
    height:100vh ;
}
.box{
    width:50%;
    height: 500px;
    background-color: white;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: scroll;
} 
i{
    cursor: pointer;
}
.compl{
    text-decoration: line-through;
    color:black
}

input[type=checkbox]:checked + p.strikethrough {
    text-decoration: line-through;
    color:black;
}